{
    email {$ACME_EMAIL}
}

{$DOMAIN} {

    log {
        level ERROR
    }

    handle /api/* {
        reverse_proxy api:8000
    }

    handle /ws/* {
        reverse_proxy api:8000
    }

    handle /proxy.pac {
        reverse_proxy api:8000
    }

    handle /healthz {
        reverse_proxy api:8000
    }

    handle {
        reverse_proxy ui:80
    }
}

